/* page_style.css */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #101010;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.nav_links {
    list-style: none;
    position:relative;
    z-index: 1;
    
   
    padding-right: 20px;
}

.nav_links::after{
    content: '';
    color: #f0f0f0;
    background-color: #363636;
    border-radius: 20px;
    height: 300%;
    width: 100%;
    top: -95%;
    right: 2%;
    position: absolute;
    transition: 0.5s ease-in-out;
    z-index: -1;
   
}

.nav_links li {
    position: relative;
    width: max-content;
    display: inline-block;
    padding: 0px 20px;
}


.nav_links li a::after{
    content: '';
    width: 0;
  
}

.nav_links li a:hover::after{
    z-index: -1;
    content: '';
    color: #f0f0f0;
    background-color: #fe3131;
    border-radius: 500px;
    height: 110%;
    width: 110%;
    bottom: -15%;
    left: -6.5%;
    position: absolute;
    transition: 0.5s ease-in-out;
    
}


.nav_links li a {
    transition: all 0.5s ease 0s;
}

.nav_links li a:hover {
    color: #ffffff;
    position: relative;
    text-shadow: -4px 3px 3px rgb(0, 0, 0);
    z-index: 2;
    
    
}

li a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #f0f0f0;
}

.logo {
    width: 100px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 75px;
}



.name {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 50px;
    color: #f0f0f0;
    text-decoration: none;
    margin-right: auto;
}

.red_highlight {
    color: #fe3131;
}

.footer {
    content: "footer test";
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #414141;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
   
    
    
}

.footer .social {
    height: 60px;
    width: 60px;
    cursor: pointer;
    align-content: right;
   
   
    padding: 20px;
    padding-top: 25px;
}