/* page_style.css */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #101010;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #101010;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 2.3s ease 0s;
}

.nav_links li a:hover {
    color: #fe3131;
}

li a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #f0f0f0;
    text-decoration: none;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-right: auto;
}

.name {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 50px;
    color: #f0f0f0;
    text-decoration: none;
}
