<div class="header">
    <a href="../">
        <img class="logo" src="../assets/images/hhlogo.png" alt="logo">
    </a>

    <a class="name" href="../">Huskie <span class="red_highlight">Hackers</span></a>
    
    <nav>

        <div>
            <a class="live" href="/live.html"> Live </a>
        </div>


        <ul class="nav_links">
            <li><a href="../meetings/">Meetings</a></li>
            <li><a href="../events/">Events</a></li>
            <li><a href="../history/">History</a></li>
            <li><a href="../board/">Board</a></li>
        </ul>
    </nav>
</div>