<div class="header">
    <a href="../index.html">
        <img class="logo" src="../assets/images/hhlogo.png" alt="logo">
    </a>

    <a class="name" href="../index.html">Huskie <span class="red_highlight">Hackers</span></a>
    
    <nav>

        <div>
            <a class="live" href="/live.html"> Live </a>
        </div>


        <ul class="nav_links">
            <li><a href="../meetings.html">Meetings</a></li>
            <li><a href="../events.html">Events</a></li>
            <li><a href="../history.html">History</a></li>
            <li><a href="../contacts.html">Contacts</a></li>
        </ul>
    </nav>
</div>