/* style.css */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #101010;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}

.red_highlight {
    color: #fe3131;
}

/******************** HEADER ********************/

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.nav_links {
    list-style: none;
    background-color: #414141;
    border-radius: 20px;
    height: 60px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a::after{
    content: '';
    width: 0;
  
}

.nav_links li a:hover::after{
    z-index: -1;
    content: '';
    color: #f0f0f0;
    background-color: #fe3131;
    border-radius: 500px;
    height: 110%;
    width: 110%;
    bottom: -15%;
    left: -6.5%;
    position: absolute;
    transition: 0.5s ease-in-out;
    
}

.nav_links li a {
    transition: all 0.5s ease 0s;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f0f0f0;
}

.nav_links li a:hover {
    color: #f0f0f0;
    position: relative;
    text-shadow: -4px 3px 3px #101010;
    z-index: 2;
    
    
}

.logo {
    width: 70px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 75px;
}

.name {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
    text-decoration: none;
    margin-right: auto;
    
}

.live_link {
    font-size: 50px;
    font-weight: bold;
    background-size: 0.1%;
    background-image: linear-gradient(
        #fe3131 0%,
        #fe3131 50%,
        #ffffff 75%,
        #ffffff 100%
    );
    background-clip: text;
    color: transparent;
    
    position: absolute;
    left: 45%;
    top: 0%;
    text-decoration: none;
    /*color: #ffffff;*/
   
    
    padding: 10px 10px;
    border-radius: 50%;
}

.live_link::before {
    /*This is used to create the background*/
    z-index: -3;
    content: '';
    color: #f0f0f0;
    background-color: #414141;
    border-radius: 100%;
    height: 100%;
    width: 125%;
    left: -10%;
    bottom: 0%;
    position: absolute;
}

@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.live_link::after {
    z-index: -2;
    content: '';
    color: #f0f0f0;
    background-color: #fe3131;
    border-radius: 20px;
    height: 18%;
    width: 12%;
    top: 25%;
    border-radius: 100%;
    right: -5%;
    position: absolute;
    
    animation: flash 1s infinite;
}

/******************** FOOTER ********************/

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #414141;
}

.footer .social {
    height: 60px;
    width: 60px;
    cursor: pointer;
    align-content: right;
    padding: 20px;
}

/******************** HOME ********************/

.home .overview {
    background: url('../assets/images/overview_bg.png');
    background-size: cover;
    height: 600px;
    font-family: "VT323", monospace;
    font-weight: 350;
    font-size: 100px;
    color: #f0f0f0;
}

.home .overview p {
    padding: 40px;
}

.home .overview p strong {
    color: #fe3131;
}

.home .overview ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

.home .overview li img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
}

.home .overview li p {
    padding: 0px;
    font-size: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    background-color: #f0f0f0;
    color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .overview li.up img, .home .overview li.up p {
    box-shadow: #fe3131 -10px 10px;
}

.home .overview li.down img {
    box-shadow: #fe3131 -10px -10px;
}

.home .about {
    background: url('../assets/images/about_bg.png');
    background-size: 500px;
    display: flex;
    align-items: center;
    animation: slide 31s linear infinite;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

@keyframes slide {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
}

.home .about h1 {
    font-size: 35px;
    text-align: center;
}

.home .about p {
    font-size: 25px;
    text-align: left;
}

.home .about .text_info {
    padding: 30px;
    margin: 50px;
    background-color: #fe3131;
    color: #f0f0f0;
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

.home .about .about_image {
    margin: 50px;
    padding: 30px;
    border-radius: 80px;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .about .about_image img {
    width: 600px;
    border-radius: 50px;
}

/******************** MEETINGS ********************/
.meetings {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** EVENTS ********************/
.events {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** HISTORY ********************/
.history {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** BOARD ********************/
.board {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}