/* style.css */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #101010;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}

/******************** HEADER ********************/

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.nav_links {
    list-style: none;
    background-color: #414141;
    border-radius: 20px;
    height: 60px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a::after{
    content: '';
    width: 0;
    
}

.nav_links li a:hover::after{
    z-index: -1;
    content: '';
    color: #f0f0f0;
    background-color: #fe3131;
    border-radius: 500px;
    height: 110%;
    width: 110%;
    bottom: -15%;
    left: -6.5%;
    position: absolute;
    transition: 0.5s ease-in-out;
    
}

.nav_links li a {
    transition: all 0.5s ease 0s;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f0f0f0;
}

.nav_links li a:hover {
    color: #f0f0f0;
    position: relative;
    text-shadow: -4px 3px 3px #101010;
    z-index: 2;
    
    
}

.logo {
    width: 70px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 75px;
}

.name {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
    text-decoration: none;
    margin-right: auto;
    
}

.red_highlight {
    color: #fe3131;
}





.live {
    font-size: 50px;
    font-weight: bold;
    background-size: 0.1%;
    background-image: linear-gradient(
        #fe3131 0%,
        #fe3131 50%,
        #ffffff 75%,
        #ffffff 100%
    );
    background-clip: text;
    color: transparent;
    
    position: absolute;
    left: 45%;
    top: 0%;
    text-decoration: none;
    /*color: #ffffff;*/
   
    
    padding: 10px 10px;
    border-radius: 50%;
}

.live::before {
    /*This is used to create the background*/
    z-index: -3;
    content: '';
    color: #f0f0f0;
    background-color: #414141;
    border-radius: 100%;
    height: 100%;
    width: 125%;
    left: -10%;
    bottom: 0%;
    position: absolute;
}

@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.live::after {
    z-index: -2;
    content: '';
    color: #f0f0f0;
    background-color: #fe3131;
    border-radius: 20px;
    height: 18%;
    width: 12%;
    top: 25%;
    border-radius: 100%;
    right: -5%;
    position: absolute;
    
    animation: flash 1s infinite;
}


/******************** FOOTER ********************/

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #414141;
}

.footer .social {
    height: 60px;
    width: 60px;
    cursor: pointer;
    align-content: right;
    padding: 20px;
}

/******************** HOME ********************/
.home {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** MEETINGS ********************/
.meetings {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** EVENTS ********************/
.events {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** HISTORY ********************/
.history {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}

/******************** CONTACTS ********************/
.contacts {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #f0f0f0;
}


/******************** LIVESTREAM PAGE ********************/

.iframe-container {
    display: flex;
    justify-content: center;
}


.iframe-container iframe {
    width: 80%;
    max-width: 1240px;
    height: 756px;
}