<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../styles/page_style.css">
        <title> Huskie Hackers - {{ page.title }} </title>
        <link rel="icon" href="../assets/images/hhlogo.png" type="image/x-icon">
    </head>
    
    <body>
        <div class="header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/hhlogo.png" alt="logo">
            </a>
            <a class="name" href="../index.html">Huskie <span class="red_highlight">Hackers</span></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="../meetings.html">Meetings</a></li>
                    <li><a href="../events.html">Events</a></li>
                    <li><a href="../history.html">History</a></li>
                    <li><a href="../contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
        
        <main> {{ content }} </main>

        <div class="footer">

            <a href="https://www.instagram.com/huskiehackers/" target="_blank">
                <img class="social" src="../assets/images/instagram.png" alt="logo">
            </a>

            <a href="https://discord.gg/u7mU5VpKGH" target="_blank">
                <img class="social" src="../assets/images/discord.png" alt="logo">
            </a>

            <a href="https://github.com/huskiehackers" target="_blank">
                <img class="social" src="../assets/images/github.png" alt="logo">
            </a>

            
        </div>



    </body>
</html>