<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../page_style.css">
        <title> {{ page.title }} </title>
    </head>
    
    <body>
        <div class="header">
            <img class="logo" src="../assets/images/logo.png" alt="logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Meetings</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </div>
        
        {{ content }}
    </body>
</html>